<nav class="navbar navbar-default navbar-static-top" style="position: fixed;
    top: 0px;
    width: 100%;">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      <a class="navbar-brand" href="#">
        <img src="logo2.png" style="    height: 58px;
    margin-top: -15px;">
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">


      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
  </nav>

  <!-- START CAROUSEL -->

  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <div class="carousel-images">
          <div class="margin-top">

            <h2 class="dissapear">
              Great expertise based on experience!
            </h2>
            <p class="dissapear">
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes.
            </p>
            <div class="pjoin">
              <a class="">  Join Our Team  </a>
            </div>

          </div>
        </div>



      </div>
      <div class="item">
        <div class="carousel-images-dos">
          <div class="margin-top">
            <h2 class="dissapear">
                Striving to excellence in everything we do!
            </h2>
            <p class="dissapear">
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes.
            </p>
            <div class="pjoin">
              <a class="">  Join Our Team  </a>
            </div>
          </div>
        </div>
      </div>


    </div>


    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>


  </div>

  <!-- NIMBY CONTAINER -->

  <div class="nimby">
    <div class="row">
      <div class="col-sm-6">

        <img src="images/devices.png" class="" style="width:84%; margin-top: 10%;   margin-left: 19px;">

      </div>

      <div class="col-sm-6" style="padding-left: -1px;
    margin-top: 2%; color:white;">
        <h1 class="sub-h1" style="font-weight:bold;"> Welcome! </h1>
        <p class="sub-p2 " style="margin-bottom:5%;">Praesent justo dolor, lobortis quis, lobortis dignissim, pulvinar ac, lorem euismod purus. </p>
        <div class="row">
          <div class="col-md-6">
            <p class="sub-p">What We Do </p>

            <p class="sub-p2 ">Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. </p>


          </div>
          <div class="col-md-6">
            <p class="sub-p">Who We Are </p>

            <p class="sub-p2 ">Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. </p>

          </div>
        </div>
    </div>
  </div>

  </div>


  <!-- PRIMER CONTENEDOR -->
  <div style="background-color:#337AB2;">
    <h2 style="color:white; text-align:center; padding-top: 19px;"> Our Features </h2>
    <div class="row feature animation-element slide-left" style="
         padding-right: 44px; margin-right:0px;">
      <div class=" col-sm-4">
        <div class="row">
          <div class="col-sm-6">
            <img src="images/call.png" class="icons-class">
          </div>

          <div class="col-sm-6 paragraph-class">
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, </p>
          </div>
        </div>
      </div>

      <div class=" col-sm-4">
        <div class="row">
          <div class="col-sm-6">
            <img src="images/ethernet.png" class="icons-class">
          </div>

          <div class="col-sm-6 paragraph-class">
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, </p>
          </div>
        </div>
      </div>


      <div class=" col-sm-4">
        <div class="row" style="margin-right:0px;">
          <div class="col-sm-6">
            <img src="images/supervidor.png" class="icons-class">
          </div>

          <div class="col-sm-6 paragraph-class">
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, </p>
          </div>
        </div>
      </div>


  </div>
  </div>

  <div class="row feature animation-element slide-left" style="
         padding-right: 44px; margin-right:0px;">
    <div class=" col-sm-4">
      <div class="row">
        <div class="col-sm-6">
          <img src="images/voice.png" class="icons-class">
        </div>

        <div class="col-sm-6 paragraph-class">
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, </p>
        </div>
      </div>
    </div>

    <div class=" col-sm-4">
      <div class="row">
        <div class="col-sm-6">
          <img src="images/portrait.png" class="icons-class">
        </div>

        <div class="col-sm-6 paragraph-class">
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, </p>
        </div>
      </div>
    </div>


    <div class=" col-sm-4">
      <div class="row" style="margin-right:0px;">
        <div class="col-sm-6">
          <img src="images/msn.png" class="icons-class">
        </div>

        <div class="col-sm-6 paragraph-class">
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, </p>
        </div>
      </div>
    </div>



    </div>


    <div class="strong" style="    padding-top: 1px;">

      <h1> Strong. Stable. Reliable </h1>
      <p> Fusce euismod consequat ante. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Pellentesque sed dolor. Aliquam congue fermentum nisl. Mauris accumsan nulla vel diam. </p>

    </div>


    <footer style="background-color:#1f2730; color:white;">
      <div class="animation-element slide-left ">
        <div class="row foo-class">

          <div class="col-md-4 ">
            <p> Company </p>

            <a> Lorem impsum </a>
            <br>
            <a> Lorem impsum </a>
            <br>
            <a> Lorem impsum </a>
            <br>
            <a> Lorem impsum </a>
            <br>
            <a> Lorem impsum </a>
            <br>


          </div>
          <div class="col-md-4">
            <p> Results </p>

            <a> Lorem impsum </a>
            <br>
            <a> Lorem impsum </a>
            <br>
            <a> Lorem impsum </a>
            <br>
            <a> Lorem impsum </a>
            <br>
            <a> Lorem impsum </a>
            <br>
          </div>
          <div class="col-md-4">
            <p> Offices </p>

            <a> Lorem impsum </a>
            <br>
            <a> Lorem impsum </a>
            <br>
            <a> Lorem impsum </a>
            <br>
            <a> Lorem impsum </a>
            <br>
            <a> Lorem impsum </a>
            <br>


          </div>

        </div>
      </div>
    </footer>
