<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      <a class="navbar-brand" href="#">
        <div class="logo"></div>
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#home">Inicio</a></li>
        <li><a href="#projects">Proyectos</a></li>
        <li><a href="#aliances">Alianzas</a></li>
        <li><a href="#contact">Contacto</a></li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>

<!-- START CAROUSEL -->

<div id="home" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#home" data-slide-to="0" class="active"></li>
    <li data-target="#home" data-slide-to="1"></li>
    <li data-target="#home" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <div class="carousel1">
        <div class="margin-top">
            <img src="assets/images/planc.png" class="logo-image ">
          <h2 class="dissapear">
              Honestidad
            </h2>
          <p class="dissapear">
            Actuamos con rectitud e integridad, manteniendo un trato equitativo con todos nuestros colaboradores.
          </p>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="carousel2">
        <div class="margin-top">
          <img src="assets/images/planc.png" class="logo-image ">
          <h2 class="dissapear">
                Responsabilidad
            </h2>
          <p class="dissapear">
            Cumplimos nuestro deber, cumpliendo nuestras políticas y disposiciones de la organización.
          </p>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="carousel3">
        <div class="margin-top">
          <img src="assets/images/planc.png" class="logo-image ">
          <h2 class="dissapear">
                Confianza
            </h2>
          <p class="dissapear">
            Nos desempeñamos con exactitud, puntualidad y fidelidad para fortalecer nuestro ambiente laboral.
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#home" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#home" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>

</div>

<!-- NIMBY CONTAINER -->

<div class="nimby">
  <div class="row">
    <div class="col-sm-6" style="text-align:center;">
      <video width="100%" height="240" controls>
        <source src="assets/images/video.mp4" type="video/mp4">
      </video>
    </div>
    <div class="col-sm-6" style="padding-left: -1px; margin-top: 2%; color:white;">
      <h1 class="sub-h1" style="font-weight:bold;"> Plan B</h1>
      <div class="row">
        <div class="col-md-6">
          <p class="sub-p">Mision</p>
          <p class="sub-p2 ">Buscamos nuevas formas de generar desarrollo incluyente en México, donde todos, haciéndonos responsables de nuestro entorno y realidad, logremos un país más justo y con mayor educación.</p>
        </div>
        <div class="col-md-6">
          <p class="sub-p">Objeto</p>

          <p class="sub-p2 ">La asociación civil se organiza sin fines de lucro. Tiene como fines el apoyo y asistencia social de personas, sectores y regiones de escasos recursos, para lo cual, realizara actividades para lograr mejores condiciones de subsistencia y desarrollo
            de las personas, de los grupos vulnerables por edad, sexo o problemas de discapacidad y de las comunidades indígenas. </p>

        </div>
      </div>
    </div>
  </div>

</div>
<!-- Projects container -->
<div class="projects" id="projects">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="card">
          <div class="card-img" style="background:url(assets/images/p1.jpg) center/cover no-repeat;"></div>
          <h3>Democracia del Futuro</h3>
          <p>Se ha promovido la participación ciudadana y la búsqueda de formación de liderazgos para resolver problemas comunes entre todos y para todos
            <p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card">
          <div class="card-img" style="background:url(assets/images/p2.jpg) center/cover no-repeat;"></div>
          <h3>YMCA México</h3>
          <p>Capacitación a personas clave de la organización en temas liderazgo, Responsabilidad Social y trabajo en equipo.
            <p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card">
          <div class="card-img" style="background:url(assets/images/p3.jpg) center/cover no-repeat;"></div>
          <h3>Saber para Crecer, AC  </h3>
          <p>Programa para la construcción y operación, de un Centro de Atención Múltiple en la Delegación Cuajimalpa, el cual atenderá a más de 75 niños con discapacidad en la zona.
            <p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card">
          <div class="card-img" style="background:url(assets/images/p4.jpg) center/cover no-repeat;"></div>
          <h3>Click Social </h3>
          <p>Plataforma de vinculacion entre donantes y colectivos juveniles para vincularlos y se puedan solicitar los apoyos para la Inversión Social de Alto Impacto
            <p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="general">
  <div class="container">
    <h1> Historia </h1>
    <h4> La organización se establece en 2010 y en Marzo de 2016 se constituye legalmente como Asociación Civil. A lo largo de estos años la organización ha generado experiencia y capacidad (en alianza con otras organizaciones y siempre fomentando la creación
      y fortalecimiento de redes) con un enfoque multidisciplinario que nos permite abordar la complejidad del desarrollo y sustentabilidad.
    </h4>
  </div>

</div>

<div class="alliances">
  <h1> Nuestras alianzas </h1>








<div class="row" style="
  padding-bottom: 5%;     margin-left: 10%;">
  <div class="col-sm-2">
    <img src="assets/images/mov.jpg" class="img-circle">


  </div>
  <div class="col-sm-2">
    <img src="assets/images/planb.jpeg" class="img-circle">

  </div>
  <div class="col-sm-2">
    <img src="assets/images/cop.jpeg" class="img-circle">

  </div>
  <div class="col-sm-2">
    <img src="assets/images/imjuve.png" class="img-circle">

  </div>

  <div class="col-sm-2">
    <img src="assets/images/ind.jpg" class="img-circle">

  </div>
  </div>
  </div>

  <div class="contact">
    <h1> Contacto </h1>
    <div class="row">
      <div class="col-sm-4">
        <div class="row">
          <div class="col-sm-6">
            <img src="assets/images/phone.svg" class="img-circle">
          </div>
          <div class="col-sm-6">
            <h3>Teléfono </h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="row">
          <div class="col-sm-6">
            <img src="assets/images/correo.svg" class="img-circle">
          </div>
          <div class="col-sm-6">
            <h3>Correo </h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="row">
          <div class="col-sm-6">
            <img src="assets/images/location.svg" class="img-circle">
          </div>
          <div class="col-sm-6">
            <h3>Dirección </h3>
          </div>
        </div>
      </div>
    </div>

  </div>

  <sebm-google-map [latitude]="lat" [longitude]="lng" class="map">
    <sebm-google-map-marker [latitude]="lat" [longitude]="lng"></sebm-google-map-marker>
  </sebm-google-map>


  <!-- PRIMER CONTENEDOR -->

  <footer>

    <div class="row">

      <div class="col-md-4 ">
        <img src="assets/images/facebook.svg" class="">
      </div>
      <div class="col-md-4">
        <img src="assets/images/craft.svg" width="80px" height="80px">
        <p>Powered by CraftCode</p>
      </div>
      <div class="col-md-4">
        <img src="assets/images/twitter.svg">
      </div>
    </div>
  </footer>
