<nav class="navbar navbar-default navbar-static-top" style="position: fixed;
    top: 0px;
    width: 100%;">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      <a class="navbar-brand" href="#">
        <img src="logo2.png" style="    height: 58px;
    margin-top: -15px;">
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">


      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
  </nav>

  <!-- START CAROUSEL -->

  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <div class="carousel-images">
          <div class="margin-top">

            <h2 class="dissapear">
              Great expertise based on experience!
            </h2>
            <p class="dissapear">
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes.
            </p>
            <div class="pjoin">
            
            </div>

          </div>
        </div>



      </div>
      <div class="item">
        <div class="carousel-images-dos">
          <div class="margin-top">
            <h2 class="dissapear">
                Striving to excellence in everything we do!
            </h2>
            <p class="dissapear">
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes.
            </p>
            <div class="pjoin">
              <a class="">  Join Our Team  </a>
            </div>
          </div>
        </div>
      </div>


    </div>


    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>


  </div>

  <!-- NIMBY CONTAINER -->

  <div class="general">
    <div class="row">
      <div class="col-sm-12">

        <h2> Historia </h2>

        <p> La organización se establece en 2010 y en Marzo de 2016 se constituye legalmente como Asociación Civil. A lo largo de estos años la organización ha generado experiencia y capacidad (en alianza con otras organizaciones y siempre fomentando la creación y fortalecimiento de redes) con un enfoque multidisciplinario que nos permite abordar la complejidad del desarrollo y sustentabilidad.
 </p>

      </div>


  </div>

  </div>

  <div class="alliances">
    <h1> Nuestras alianzas </h1>

    <div class="row">
      <div class="col-sm-2">
        <img src="assets/images/anahuac.png" class="img-circle">


      </div>
      <div class="col-sm-2">
        <img src="assets/images/mov.jpg" class="img-circle">

      </div>
      <div class="col-sm-2">
        <img src="assets/images/fund.jpg" class="img-circle">

      </div>
      <div class="col-sm-2">
        <img src="assets/images/usa.png" class="img-circle">

      </div>
      <div class="col-sm-2">
        <img src="assets/images/cce.jpg" class="img-circle">

      </div>
      <div class="col-sm-2">
        <img src="assets/images/wal.png" class="img-circle">

      </div>


    </div>


    <div class="row" style="    margin-top: 5%;
    margin-bottom: 5%;">
      <div class="col-sm-2">
        <img src="assets/images/pwc.png" class="img-circle">


      </div>
      <div class="col-sm-2">
        <img src="assets/images/alsea.jpg" class="img-circle">

      </div>
      <div class="col-sm-2">
        <img src="assets/images/ina.jpg" class="img-circle">

      </div>
      <div class="col-sm-2">
        <img src="assets/images/fec.png" class="img-circle">

      </div>
      <div class="col-sm-2">
        <img src="assets/images/mic.png" class="img-circle">

      </div>
      <div class="col-sm-2">
        <img src="assets/images/cem.jpg" class="img-circle">

      </div>


    </div>



    <div class="row" style="
    padding-bottom: 5%;">
      <div class="col-sm-2">
        <img src="assets/images/mer.png" class="img-circle">


      </div>
      <div class="col-sm-2">
        <img src="assets/images/cop.jpeg" class="img-circle">

      </div>
      <div class="col-sm-2">
        <img src="assets/images/ali.jpg" class="img-circle">

      </div>
      <div class="col-sm-2">
        <img src="assets/images/mob.png" class="img-circle">

      </div>
      <div class="col-sm-2">
        <img src="assets/images/bim.gif" class="img-circle">

      </div>
      <div class="col-sm-2">
        <img src="assets/images/ind.jpg" class="img-circle">

      </div>


    </div>


  </div>

  <div class="contact">
    <h1> Contacto </h1>
    <div class="row">
      <div class="col-sm-4">
        <div class="row">
          <div class="col-sm-6">
            <img src="assets/images/phone.svg" class="img-circle">
          </div>
          <div class="col-sm-6">
            <h3>Teléfono </h3>
          </div>


        </div>


      </div>
      <div class="col-sm-4">
        <div class="row">
          <div class="col-sm-6">
            <img src="assets/images/correo.svg" class="img-circle">
          </div>
          <div class="col-sm-6">
            <h3>Correo </h3>
          </div>


        </div>

      </div>
      <div class="col-sm-4">
        <div class="row">
          <div class="col-sm-6">
            <img src="assets/images/location.svg" class="img-circle">
          </div>
          <div class="col-sm-6">
            <h3>Dirección </h3>
          </div>


        </div>

      </div>
    </div>

  </div>

  <div id="map" style="width:400px;height:400px;background:yellow"></div>


  <!-- PRIMER CONTENEDOR -->





    <footer style="background-color:#1f2730; color:white;">

        <div class="row">

          <div class="col-md-4 ">
            <img src="assets/images/facebook.svg" class="">



          </div>
          <div class="col-md-4">
              <img src="assets/images/craft.png">

          </div>
          <div class="col-md-4">
              <img src="assets/images/twitter.svg" >



          </div>


      </div>
    </footer>
