/* You can add global styles to this file, and also import other style files */
/**
  * Main SASS file gets all partials
  * this sass file will be compiled at
  * the beginning
**/
/**
  * Variables Partial SASS
  * This SASS file has the palette color
  * the media queries break points and fonts attributes.
**/
/**
  * Utils Partial SASS
  * This SASS file has all the functions used
  * on the partials.
**/
@import url("http://fonts.googleapis.com/css?family=Open+Sans|Yeseva+One");
/**
  * Mixin Partial SASS
  * This SASS file make groups of CSS declarations
  * that are reuse throughout the site.
**/
/**
  * Extend Partial SASS
  * This SASS file has all common
  * styles that are presented on some
  * classes
**/
.nimby {
  background-color: #FFF;

  h1 {
    font-size: 50px;
    color: black;
  }

  p {
    color: black;
  }
}

.carousel-button {
  width: 16%;
  height: 60px;

  button:hover {
    border: blue;
    background: transparent;
  }
}

.pjoin {
  margin-top: 52%;

  a {
    padding: 28px;
    color: black;
    background: white;
    width: 18%;
    padding-top: 28px;
    padding-bottom: 28px;
    margin-left: 2%;
    font-size: 20px;

    &.selected,
    &:hover {
      color: #1b75bc;
      background: transparent;
      border: 4px solid #1b75bc;
    }

    &.selected::before,
    &:hover::before {
      content: close-quote;
    }
  }
}

.sub-p {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.sub-p2 {
  margin-left: 25%;
  padding-right: 93px;
}

.strong {
  height: 198px;
  text-align: center;
  background: lightblue;

  h1 {
    font-size: 23px;
    color: white;
    padding-top: 4%;
  }

  p {
    color: white;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 15px;
  }
}

.pjoin2 a {
  padding: 28px;
  color: white;
  background: lightblue;
  width: 18%;
  padding-top: 28px;
  padding-bottom: 28px;
  margin-left: 2%;
  font-size: 20px;

  &.selected,
  &:hover {
    color: #1b75bc;
    background: transparent;
    border: 4px solid #1b75bc;
  }

  &.selected::before,
  &:hover::before {
    content: close-quote;
  }
}

.feature {
  background: #337AB2;

  p {
    color: white;
  }
}

.sub-h1 {
  text-align: center;
}
/**
  * Buttons Partial SASS
  * This SASS file has all
  * buttons style on the web app
**/
/**
  * Media queries Partial SASS
  * This SASS file has the break points
  * for each media query used on the app
  * !Important Sass extend cannot be used
  * on media queries, just include and functions
**/
// Upper part
$secondary-color: #8bc34a;

.navbar-default {
  height: 80px;
  margin: 0;
}

.general {
  height: 360px;
  text-align: center;
  .container {
    padding-top: 5%;
  }
}

.logo {
  width: 60px;
  height: 60px;
  background: url("assets/images/logo.jpg") center/cover no-repeat;
  border-radius: 50%;
}

.carousel1 {
  background: linear-gradient(rgba(76, 175, 80, 0.42), rgba(76, 175, 80, 0.53) 95%), linear-gradient(0deg, rgba(76, 175, 80, 0.47), transparent), url("assets/images/slide1.jpg") no-repeat center;
  background-size: cover;
  width: 100%;
  height: 550px;
}

.carousel2 {
  background: linear-gradient(rgba(76, 175, 80, 0.42), rgba(76, 175, 80, 0.53) 95%), linear-gradient(0deg, rgba(76, 175, 80, 0.47), transparent), url("assets/images/slide2.jpg") no-repeat center;
  background-size: cover;
  width: 100%;
  height: 550px;
}

.carousel3 {
  background: linear-gradient(rgba(76, 175, 80, 0.42), rgba(76, 175, 80, 0.53) 95%), linear-gradient(0deg, rgba(76, 175, 80, 0.47), transparent), url("assets/images/slide3.jpg") no-repeat center;
  background-size: cover;
  width: 100%;
  height: 550px;
}

.carousel4 {
  background: linear-gradient(rgba(76, 175, 80, 0.42), rgba(76, 175, 80, 0.53) 95%), linear-gradient(0deg, rgba(76, 175, 80, 0.47), transparent), url("assets/images/slide4.jpg") no-repeat center;
  background-size: cover;
  width: 100%;
  height: 550px;
}

.margin-top {
  padding-top: 10%;
  text-align: center;

  h1 {
    color: black;
    font-size: 65px;
  }

  h2 {
    color: white;
    font-size: 45px;
    font-weight: bold;
  }

  h3 {
    color: black;
    font-size: 30px;
  }

  p {
    color: white;
    font-size: 20px;
  }
}

video {
  width: 80%;
  margin: 50px auto;
}

.projects {
  background: #ccc;
  width: 100%;

  .card {
    background: white;
    height: 380px;
    margin: 20px auto;

    .card-img {
      width: 100%;
      height: 180px;
    }

    h3 {
      margin-top: 5px;
      padding: 0 10px;
    }

    p {
      font-size: 1em;
      padding: 0 10px;
    }
  }
}
/*# sourceMappingURL=main.css.map */
.alliances {
  text-align: center;
  background: #273238;

  h1 {
    padding-top: 5%;
    color: white;
    margin-bottom: 26px;
  }

  p {
    color: white;
  }

  .row {
    margin-left: 5px;
    margin-right: 5px;
  }

  .img-circle {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    background: #cce;
  }
}

.contact {
  text-align: center;

  h1 {
    font-weight: bold;
    margin-bottom: 26px;
  }

  .img-circle {
    width: 126%;
    height: 74px;
  }
}

.general {
  margin-left: 20px;
  margin-right: 20px;

  h2 {
    text-align: center;
  }
}

.map {
  width: 100%;
  height: 300px;
  margin: 150px 0 0;
}

.sebm-google-map-container {
  height: 300px;
}

footer {
  background-color:#1f2730;
  color:white;
  height: 180px;
  text-align: center;
  img {
    padding: 10px;
    width: 60px;
    height: 60px;
  }
}
